.Nav {
    margin-bottom: 40px !important;
    padding-top: 20px;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card .header {
    margin-bottom: 20px;
}

.avatar {
    align-self: center;
}

.error {
    color: #c00;
}

.submit-button {
    margin-top: 30px;
    text-align: center;
}

.spacer {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.Progress {
    position: relative;
    margin-bottom: 40px;
    padding-right: 50px;
}

.Progress .ui.progress > .label {
    text-align: left;
}


.Progress__avatar {
    position: absolute !important;
    top: -2px;
    right: 0;
}
